{% extends 'base.html' %}

{% block title %}RPM tracks - Track: {{ track.title }} - {{ track.author }}{% endblock title %}

{% block content %}
    <h1>{{ track.title }} - {{ track.author }}</h1>
    <p>Release: <a href="{% url 'tracks:list_by_release' track.release.number %}">{{ track.release }}</a></p>
    <p>Track number:
        {% if previous_track %}<a href="{% url 'tracks:detail' track.release.number previous_track.id %}"><i class="fa-solid fa-angle-left"></i></a>{% endif %}
        {{ track.number }}
        {% if next_track %}<a href="{% url 'tracks:detail' track.release.number next_track.id %}"><i class="fa-solid fa-angle-right"></i></a>{% endif %}
    </p>
    <p>Author: {{ track.author }}</p>
    <p>Title: {{ track.title }}</p>
    <p>Duration: {{ track.duration }}</p>
    {% if track.cover_artist %}
    <p>Cover artist: {{ track.cover_artist }}</p>
    {% endif %}
    <p>Workout: {{ track.get_workout_display }}</p>
    {% if track.remarks %}
    <p>Remarks: {{ track.remarks }}</p>
    {% endif %}
{%  endblock content %}
